.clock-container {
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    color: white;
    font-size: 6rem;
    font-family: monospace;
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 75%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
}

.clock {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin-bottom: 5px;
}

.meridiem-block {
    margin-left: 25px;
    font-size: 3rem;
}

.date-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

.dayString {
    font-size: 1.5rem;
    color: white;
}

/* Media Query for Mobile Devices */
@media (max-width: 738px) {
    .clock-container {
        width: 100%;
        font-size: 3rem;
    }

    .meridiem-block {
        margin-left: 15px;
        font-size: 2rem;
    }

    .date-container {
        padding-left: 20px;
        width: 100%;
        font-size: 1.25rem;
    }

    .dayString {
        padding-right: 20px;
        font-size: 1.25rem;
    }
}
