body {
    background-image: url(../assets/background-sky2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.clock-container {
    backdrop-filter: blur(5px);
    padding: 10px 0;
    color: white;
    font-size: 6rem;
    font-family: monospace;
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 75%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.clock {
    display: flex;
    align-items: center;
}

.meridiem-block {
    margin-left: 25px;
    font-size: 3rem;
}

.date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 1.5rem;
    color: white;
}

.date {
    margin-right: 125px;
}

.dayString {
    font-size: 1.5rem;
    color: white;
}
